<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  <add name ="DBConnectionString" connectionString="localhost"/>
    
    </connectionStrings>
      <appSettings>
        <add key ="URL" value ="https://www.calculator.net/calorie-calculator.html"/>
      
      </appSettings>
      </configuration>